@layout TelerikLayout

@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <TelerikButton ThemeColor="@ThemeConstants.Button.ThemeColor.Primary" OnClick="OnClickFAQ" Class="faq-button">FAQ</TelerikButton>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

<style>
    .faq-button {
        margin-top: 4px;
        margin-left: 15px;
    }
</style>
@code{

    public void OnClickFAQ()
    {
        _nav.NavigateTo("/FAQ");

    }
}